# OSX #
*.DS_Store
.AppleDouble
.LSOverride

# Node #
node_modules

# Logs #
logs
*.log
npm-debug.log*

# VS #
*.vsix

# Misc #
.history/

personal-access-token.txt
themes/neon-bunny-theme.bk.json
code-samples/colors.scss
.vscode/settings.json
